.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.middle-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.gender,
.age {
  font-size: 14px;
  color: #555;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dots-icon {
  font-size: 20px;
  cursor: pointer;
  color: #333;
}
