.chart-container {
  width: 500px;
  height: 280px;
  margin: 10px;
  /* margin: 0 auto; Centers the chart horizontally */
  background-color: white; /* Optional: for a background color */
  border-radius: 8px; /* Optional: for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: to give a light shadow effect */
}
