.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  margin-top: 30px;

  align-items: center;
  /* border: 1px solid red; */
  height: 50px;
  margin-bottom: 10px;
}

.patients-main {
  width: 367px;
  height: 1054px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}

.top img {
  width: 20px;
  height: 20px;
}
